<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
      <div class="text">
        {{comment_text}}
      </div>
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div> 
      <button type="button">Edit comment</button>
      <button type="submit">Delete comment</button>
      </div>
    </section>
  {{/each}}
</div>
<script src="/javascript/delete-comment.js"></script>
<script src="/javascript/edit-comment.js"></script>