<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        <div>
          <p class="comment-body">
            {{comment_text}}
          </p>
          <p class="comment-user-info">
            {{user.username}}
            commented on
            {{format_date created_at}}
          </p>
        </div>
      </div>
      <div>
        {{!-- {{#if loggedIn}} --}}
          {{!-- <button class="edit-btn" type="button">edit</button> --}}
        {{!-- {{/if}} --}}
      </div>
    </section>
  {{/each}}
</div>

<script src="/javascript/delete-comment.js"></script>
<script src="/javascript/edit-comment.js"></script>