<div class="comments">
  {{#each this}}
    <section class="comment">
      <div class="meta">
        <div class="text">
          {{comment_text}}
        </div>
        {{user.username}}
        commented on
        {{format_date created_at}}
      </div>
      <div>
        {{!-- {{#if loggedIn}} --}}
          <button class="edit-btn" type="button">Edit comment</button>
        {{!-- {{/if}} --}}
      </div>
    </section>
  {{/each}}
</div>

<script src="/javascript/delete-comment.js"></script>
<script src="/javascript/edit-comment.js"></script>