<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  {{#each this}}
<li><a class='searchTag dropdown-item' href="http://localhost:3001/search/tagged/{{tag_text}}">{{tag_text}}</a></li>
{{/each}}
</ul>

<script src="/javascript/search.js"></script>
