<div>
  <label for="tags">Search by tag:</label>
  <select name="tags" id="tags">
    {{#each tags as |tag|}}
      <option value="{{id}}">{{tag_text}}</option>
    {{/each}}
  </select>
</div>

<script src="/javascript/searchtag.js"></script>