
<h1>Handlebars JS Example</h1>

    <select>
        {{#each tag}}
            <div class="text">
            {{tag_text}}
            </div>
        {{/each}}
    </select>

 
<div>
  <label for="tags">Search by tag:</label>
  <select name="tags" id="tags">
    {{#each tags as |tag|}}
      <option value="{{id}}">{{tag_text}}</option>
    {{/each}}
  </select>
</div>


