<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class='searchTag dropdown-item' href="https://the-goodvice-blog.herokuapp.com/search/tagged/plants">Plants</a></li>
  <li><a class='searchTag dropdown-item' href="https://the-goodvice-blog.herokuapp.com/search/tagged/pets">Pets</a></li>
  <li><a class='searchTag dropdown-item' href="https://the-goodvice-blog.herokuapp.com/search/tagged/food">Food</a></li>
  <li><a class='searchTag dropdown-item' href="https://the-goodvice-blog.herokuapp.com/search/tagged/household">Household</a></li>
  <li><a class='searchTag dropdown-item' href="https://the-goodvice-blog.herokuapp.com/search/tagged/general">General</a></li>
</ul>

<script src="/javascript/search.js"></script>
