<section class="container">
  <div class="row justify-content-center">
    <section class="add-post-modal col-sm-12 col-md-6 col-lg-6">
      <h3 class="d-inline-block">Welcome to your dashboard</h3>
      <button id="button" class="add-post-btn" data-modal="modalOne"><span class="plus">&plus;</span></button>
      <div id="modalOne" class="modal">
        <div class="modal-content">
          <div>
            <h5>Create New Post</h5>
          </div>
    
          <div>
            <form class="new-post-form">
              <div>
                <input type="text" id="post-title" class="form-control" name="post-title" placeholder="your question" />
              </div>
    
              <div>
                <textarea id="post-text" class="form-control" name="post-text" placeholder="details"></textarea>
              </div>
    
              <div class="form-group">
                <label for="exampleFormControlSelect2">select all that apply:</label>
                <select multiple="multiple" required class="form-control" id="tag-dropdown">
                  {{#each tags}}
                  <option value="{{id}}">{{tag_text}}</option>
                  {{/each}}
                </select>
              </div>
    
              <div id="main-modal-btn" class="row row-cols-3 justify-content-around">
                <button type="submit" class="col modal-btn" id="post-btn">Create</button>
                <button type="reset" class="close col modal-btn" id="cancel">Cancel</button>
              </div>
            </form>
            <div class="add-img-form">
              <form method="post" action="/api/upload" enctype="multipart/form-data">
                <input type="file" class="form-control" name="image" multiple />
                <button type="submit" class="modal-btn upload-btn">Upload</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<section class="container">

  <div class="row justify-content-between">
    {{#if posts.length}}
      {{#each posts as |post|}}
      {{> post-info-partials post}}
      {{/each}}
    {{/if}}
  </div>
  
</section>


<script src="/javascript/add-post.js"></script>