<section class="row justify-content-between">
  <div class='empty-results'>
    <h2>Congratulations!</h2>
    <h3 id='found-nothing'>If you're looking for nothing, you've found it.</h3>
  </div>
</section>