<section class="row justify-content-between">

    {{#each posts as |post|}}

    {{> post-info post }}

    {{#each post.tags}}
     <span class="badge rounded-pill">{{tag_text}}</span>
    {{/each}}   

    {{/each}}

</section>