<section class="row justify-content-center">

    {{#each posts as |post|}}

    {{> post-info post }}

    {{!-- {{#each post.tags}}
     <h4>{{tag_text}}</h4>
    {{/each}}  --}}

    {{/each}}

</section>