<form class="login-form">
   <div class="mb-3">
      <label for="username-login" class="form-label">username:</label>
      <input type="text" class="form-control" id="username-login" />
   </div>
   <div class="mb-3">
      <label for="password-login" class="form-label">password:</label>
      <input type="password" class="form-control" id="password-login" />
   </div>
   <div class="mb-3">
      <button type="submit">login</button>
   </div>
</form>

<form class="signup-form">
   <div class="mb-3">
      <label for="username-signup" class="form-label">username:</label>
      <input type="text" class="form-control" id="username-signup"/>
   </div>
   <div class="mb-3">
      <label for="email-signup" class="form-label">email:</label>
      <input type="email" class="form-control" id="email-signup"/>
   </div>
   <div class="mb-3">
      <label for="password-signup" class="form-label">password:</label>
      <input type="password" class="form-control" id="password-signup" />
   </div>
   <div class="mb-3">
      <button type="submit">signup</button>
   </div>
</form>

<script src="/javascript/login.js"></script>