<div class="dropdown show">
  <a
    class="btn btn-secondary dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Search by Tag
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#plants">Plants</a>
    <a class="dropdown-item" href="#food">Food</a>
    <a class="dropdown-item" href="#pets">Pets</a>
    <a class="dropdown-item" href="#household">Household</a>
    <a class="dropdown-item" href="#general">General</a>
  </div>
</div>

<script src="/javascript/searchtag.js"></script>