
{{> post-info post }}
 {{#each post.tags}}
     <h4>{{tag_text}}</h4>
     {{!-- {{log tag_text}} --}}
    {{/each}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments }}
<script src="/javascript/comment.js"></script>