* {
    --seafoam: #2fd4be;
    /* rgb: 47, 212, 190 */
    --light-seafoam: #adfff4;
    /* rgb: 173, 255, 244 */
    --light-grey: #749692;
    /* rgb: 116, 150, 146 */
    --lighter-grey: #9bd8d0;
    --dark-seafoam: #14554e;
    /* rgb: 20, 85, 78 */
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: rgba(47, 212, 190, .1);
}

main {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--seafoam);
    margin-bottom: 30px;
}

.navbar-toggler {
    border-style: none;
}

.navbar-brand h1 {
    font-family: 'Changa One', cursive;
    color: white;
    margin-left: 10px;
}

.navbar-brand h1:hover {
    color: var(--light-seafoam);
}

.nav-text {
    color: white;
    font-size: 25px;
    margin: 15px;
}

.nav-text:hover {
    color: var(--light-seafoam);
}

#navbarDropdown {
  color: white;
  padding-top: 13px;
  padding-left: 15px;
  font-size: 20px;
}

#navbarDropdown:hover {
  color: var(--light-seafoam);
}

#searchbtn {
  padding: 5px;
  border: 1px solid var(--light-seafoam);
  color: var(--light-seafoam);
}

#searchbtn:hover {
  border: 1px solid var(--light-seafoam);
  background-color: var(--light-seafoam);
  color: var(--seafoam);
}

.card {
    padding: 0;
    box-shadow: 5px 5px 2px 1px rgba(116, 150, 146, .3);
    color: var(--dark-seafoam);
    text-align: center;
    border: 1px solid var(--seafoam);
}

.card-body {
    padding: 0;
}

.card-title {
    margin: 15px;
}

.card-title a {
    color: var(--dark-seafoam);
}

.card-title a:hover {
    color: var(--light-grey);
}

.card-text {
    font-size: 15px;
    color: var(--light-grey);
    margin: 10px;
}

.card-footer {
    background-color: rgba(47, 212, 190, .1);
    border-top: 1px solid var(--seafoam);
    margin-bottom: 0;
    padding: 1px;
}

.card-footer .card-text {
  font-size: 15px;
  color: rgba(116, 150, 146, .5);
  margin: 5px;
}

.badge {
  color: var(--dark-seafoam);
  background-color: rgba(47, 212, 190, .6);
  padding: 5px 15px 5px 15px;
  margin: 10px;
  font-size: 14px;
}

.add-post-modal {
  border: 1px solid var(--seafoam);
  background-color: rgba(47, 212, 190, .3);
  color: var(--dark-seafoam);
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
}

.dash-title {
  padding: 0;
}

.add-post-btn {
  border: none;
  color: var(--dark-seafoam);
  background-color: rgba(47, 212, 190, 0);
}

.add-post-btn:hover {
  color: var(--seafoam);
  background-color: rgba(47, 212, 190, 0);
}

.plus {
  font-size: 55px;
  padding: 0;
  margin: 0;
}

.dash-title h3 {
  margin-top: 35px;
  text-align: center;
}

.comment-form {
    margin-bottom: 5%;
}

.comment {
  padding: 3%;
  width: initial;
  background-color: rgba(116, 150, 146, .2);
}

.comment:nth-child(odd) {
  background-color: rgba(116, 150, 146, .7);
}

.comment-body {
  font-size: 17px;
}

.comment-user-info {
  color: var(--light-grey);
  margin: 15px auto 15px auto;
}

button {
  background-color: rgba(47, 212, 190, .8);
  border: 0;
  padding: 7px 10px 7px 10px;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 12px;
  margin: 10px auto 10px auto;
}

.add-comment-btn {
  width:100%;
  display:block;
}


button:hover {
  background-color: var(--dark-seafoam);
}

textarea, input {
padding: 0.5%;
border-radius: 5px;
border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--seafoam);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
    margin-bottom: 2%;
    text-align: left;
  }
  
form label {
  display: block;
}

.post-img {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}

/* modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--lighter-grey);
  margin: 90px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  float: right;
}

.modal-btn {
  background-color: rgba(20, 85, 78, .5);
  box-shadow: 3px 3px 2px 1px rgba(116, 150, 146, .3);
}

.cloudinary-button {
  background-color: rgba(20, 85, 78, .5);
}

.modal-btn:hover {
  background-color: var(--seafoam);
}

.upload-btn {
  background-color: rgba(20, 85, 78, .4);
  margin-top: 10px;
  width: 100%;
}

#main-modal-btn {
  margin-top: 5%;
}

#dash-link {
  color: var(--dark-seafoam);
}

.edit-post-form {
  text-align: start;
  padding: 10px;
}

.edit-post-form div {
  margin-top: 25px;
}

.post-data {
  color: var(--light-grey);
}

.edit-post-form a{
  color: var(--light-grey);
}

.empty-results {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  color: var(--dark-seafoam);
}

#found-nothing {
  color: var(--light-grey);
}
