* {
    --seafoam: #2fd4be;
    /* rgb: 47, 212, 190 */
    --light-seafoam: #adfff4;
    /* rgb: 173, 255, 244 */
    --light-grey: #749692;
    /* rgb: 116, 150, 146 */
    --lighter-grey: #9bd8d0;
    --dark-seafoam: #14554e;
    /* rgb: 20, 85, 78 */
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: rgba(47, 212, 190, .1);
}

main {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--seafoam);
    margin-bottom: 15px;
}

.navbar-toggler {
    border-style: none;
}

.navbar-brand h1 {
    font-family: 'Changa One', cursive;
    color: white;
    margin-left: 10px;
}

.navbar-brand h1:hover {
    color: var(--light-seafoam);
}

.nav-text {
    color: white;
    font-size: 25px;
    margin: 15px;
}

.nav-text:hover {
    color: var(--light-seafoam);
}

#navbarDropdown {
  color: white;
  padding-top: 13px;
  padding-left: 15px;
  font-size: 20px;
}

#navbarDropdown:hover {
  color: var(--light-seafoam);
}


/* .search-btn {
    border: 1px solid var(--light-seafoam);
    color: var(--light-seafoam);
}

.search-btn:hover {
    border: 1px solid var(--light-seafoam);
    background-color: var(--light-seafoam);
    color: var(--seafoam);
} */

.card {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 5px 5px 2px 1px rgba(116, 150, 146, .3);
    color: var(--dark-seafoam);
    text-align: center;
    border: 1px solid var(--seafoam);
}

.card-body {
    padding: 0;
}

.card-title {
    margin: 15px;
}

.card-title a {
    color: var(--dark-seafoam);
}

.card-title a:hover {
    color: var(--light-grey);
}

.card-text {
    font-size: 15px;
    color: var(--light-grey);
    margin: 10px;
}

.card-footer {
    background-color: rgba(47, 212, 190, .2);
    border-top: 1px solid var(--seafoam);
}

.card-footer .card-text {
    font-size: 15px;
    color: rgba(116, 150, 146, .5);
    margin: 5px;
}

.badge {
    color: var(--dark-seafoam);
    background-color: rgba(47, 212, 190, .6);
    padding: 5px 15px 5px 15px;
    margin: 10px;
}

.add-post-modal {
    background-color: rgba(47, 212, 190, .3);
    box-shadow: 5px 5px 2px 1px rgba(116, 150, 146, .2);
    color: var(--dark-seafoam);
    margin-bottom: 15px;
}

.add-post-modal h2 {
    margin: 20px 30px 25px 20px;
}

.add-post-btn {
    border: none;
    color: var(--dark-seafoam);
    padding: 5px 15px 5px 15px;
    background-color: rgba(47, 212, 190, 0);
}

.plus {
    font-size: 40px;
    padding: 0;
}

.comment-form {
    margin-bottom: 5%;
  }

.comment {
    padding: 1%;
    margin-bottom: 1%;
    width: initial;
  }
  
  .comment:nth-child(odd) {
    background-color: var(--light-grey);
  }

  button {
    background-color: var(--seafoam);
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color 0.1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: var(--dark-seafoam);
  }

  textarea, input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--seafoam);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }

.post-img {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}

/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--lighter-grey);
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 95%; /* Could be more or less, depending on screen size */
}

.modal-content input {
  color: var(--lighter-grey);
}

/* The Close Button */
.close {
  float: right;
}

.modal-btn {
  background-color: rgba(20, 85, 78, .5);
}

.upload-btn {
  background-color: rgba(20, 85, 78, .4);
  margin-top: 10px;
}

#main-modal-btn {
  margin-top: 5%;
}


