* {
    --seafoam: #2fd4be;
    /* rgb: 47, 212, 190 */
    --light-seafoam: #adfff4;
    /* rgb: 173, 255, 244 */
    --light-grey: #749692;
    /* rgb: 116, 150, 146 */
    --dark-seafoam: #14554e;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: rgba(47, 212, 190, .1);
}

main {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--seafoam);
    padding: 10px;
    margin-bottom: 15px;
}

.navbar-toggler {
    border-style: none;
}

.navbar-brand h1 {
    font-family: 'Changa One', cursive;
    color: white;
    margin-left: 10px;
}

.navbar-brand h1:hover {
    color: var(--light-seafoam);
}

.nav-text {
    color: white;
    font-size: 20px;
    margin: 15px;
}

.nav-text:hover {
    color: var(--light-seafoam);
}

.search-btn {
    border: 1px solid var(--light-seafoam);
    color: var(--light-seafoam);
}

.search-btn:hover {
    border: 1px solid var(--light-seafoam);
    background-color: var(--light-seafoam);
    color: var(--seafoam);
}

.card {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 5px 5px 2px 1px rgba(116, 150, 146, .3);
    color: var(--dark-seafoam);
    text-align: center;
    border: 1px solid var(--seafoam);
}

.card-body {
    padding: 0;
}

.card-title a {
    color: var(--dark-seafoam);
}

.card-title a:hover {
    color: var(--light-grey);
}

.card-text {
    font-size: 15px;
    color: var(--light-grey);
}

.card-footer {
    background-color: rgba(47, 212, 190, .2);
    border-top: 1px solid var(--seafoam);
}

.card-footer .card-text {
    font-size: 15px;
    color: rgba(116, 150, 146, .5);
}

.badge {
    color: var(--dark-seafoam);
    background-color: rgba(47, 212, 190, .6);
    padding: 5px 15px 5px 15px;
    margin: 5px;
}